# Postgres
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme
POSTGRES_HOST=changeme

# Airflow
AIRFLOW_USER=changeme
AIRFLOW_PASSWORD=changeme
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=changeme

# MinIO
MINIO_ROOT_USER=changeme
MINIO_ROOT_PASSWORD=changeme
MINIO_ENDPOINT=changeme
MINIO_ACCESS_KEY=changeme
MINIO_SECRET_KEY=changeme

# Kafka
KAFKA_BOOTSTRAP=changeme

# Spark paths
BRONZE_PATH=changeme
SILVER_PATH=changeme
VPD_PATH=changeme
GOLD_PATH=changeme
CHECKPOINT_PATH=changeme